html,
body {
    height: 100%;
    width: 100%;
}


/* HEADER */

header {
    color: white;
    background: black;
    height: 8vh;
    padding-bottom: 15px;
}

nav {
    box-sizing: content-box;
    display: flex;
    margin: 0 auto;
    width: 80vw;
    justify-content: space-between;
}

.brand-logo {
    width: auto;
    text-align: center;
    padding-top: 5px;
}

.brand-logo h1 {
    margin: 0;
    padding-top: 10px;
}

.brand-logo p {
    margin: 0;
    padding-top: -5px;
    font-size: 15px;
}

.main-menu {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

li {
    float: left;
    list-style: none;
    margin-left: 10px;
}


/*  main image home screen  */

main {
    display: flex;
    margin: 0 auto;
    width: 80vw;
    justify-content: flex-end;
    height: 40vh;
}


/* articles */

.articles h4 {
    text-transform: uppercase;
}

article {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    height: 40vh;
}

.articles {
    padding: 5px;
}

.articles img {
    float: left;
    padding: 5px;
}

.articles a {
    float: right;
    padding: 5px;
    color: orange;
}


/*  FOOTER */

footer {
    position: relative;
    bottom: 0px;
    padding-top: 25px;
    color: white;
    background-color: black;
    height: 5vh;
}

.copyrights {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    justify-content: flex-start center;
    align-items: center;
}

.copyrights p {
    margin: 0;
}